body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Background color for better visibility */
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Align elements vertically */
}
.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-bottom: 10px; /* Space between input and button */
}
.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.search-container button:hover {
    background-color: #555;
}